<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stablecomp - Stake stable, earn easily.</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-208ECPBHWL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-208ECPBHWL');
    </script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" />
  <link rel="icon" type="image/png" href="{{ "/assets/img/logo_border.png" | relative_url }}"/>

  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.min.css" integrity="sha512-ztsAq/T5Mif7onFaDEa5wsi2yyDn5ygdVwSSQ4iok5BPJQGYz1CoXWZSA7OgwGWrxrSrbF0K85PD5uLpimu4eQ==" crossorigin="anonymous" />

  <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/64c09a9714.js"></script>
</head>
<body>
  <div class="header">
    <div class="header_nav">
      <div class="logo">
        <a href="#"><img src="{{ "/assets/img/stablecomp-full_logo.png" | relative_url }}" alt=""></a>
      </div>
      <ul class="menu">
        <li><a class="menu-item" href="https://app.gitbook.com/@stablecomp/s/stablecomp/">Docs</a></li>
        <li><a class="menu-item" href="{{ "/#timeline" | relative_url }} ">Roadmap</a></li>
        <li><a class="menu-item" href="{{ "/#scomp-contact" | relative_url }} ">Contacts</a></li>
        <a href="#" class="button button--launch">Launch App</a>
        <li>
          <p class="icon-bar">
            <a href="https://t.me/stablecomp" target="_blank"> <i class="fab fa-telegram-plane"></i></a>
            <a href="https://twitter.com/Stablecomp_com"target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://stablecomp.medium.com/"target="_blank"> <i class="fab fa-medium"></i></a>
            <a href="https://github.com/Stablecomp"target="_blank"> <i class="fab fa-github"></i></a>
          </p>
        </li>
      </ul>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  {{ content }}

  <footer class="footer">
    <div class="grid footer__content">
      <div class="col">
        <h4 class="med-text tw">Stablecomp</h4>
        <p class="tw">Stake stable, earn easily</p>
      </div>
      <div class="col">
        <h4 class="med-text tw">Follow us</h4>
        <p class="icon-bar">
          <a href="https://t.me/stablecomp" target="_blank"> <i class="fab fa-telegram-plane"></i></a>
          <a href="https://twitter.com/Stablecomp_com"target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://stablecomp.medium.com/"target="_blank"> <i class="fab fa-medium"></i></a>
          <a href="https://github.com/Stablecomp"target="_blank"> <i class="fab fa-github"></i></a></p>
      </div>
      <div class="col">
        <h4 class="med-text tw">Contact us</h4>
          <a href="mailto:info@stablecomp.com" class="tw">info@stablecomp.com</a>
      </div>
    </div>
      <div class="dots"></div>
  </footer>


<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.pkgd.min.js" integrity="sha512-Nx/M3T/fWprNarYOrnl+gfWZ25YlZtSNmhjHeC0+2gCtyAdDFXqaORJBj1dC427zt3z/HwkUpPX+cxzonjUgrA==" crossorigin="anonymous"></script>

<script>
  $( document ).ready(function() {

    /* Open Panel */
    $( ".hamburger" ).on('click', function() {
      $(".menu").toggleClass("menu--open") && $(".hamburger").toggleClass("menu--open") ;
    });

    /* Close Panel */
    $( ".menu-item" ).on('click', function() {
      $(".menu").toggleClass("menu--open") && $(".hamburger").toggleClass("menu--open") ;
    });

  });

  ScrollReveal().reveal('.reveal', { distance: '80px', duration: 800, easing: 'cubic-bezier(.215, .61, .355, 1)', interval: 400 });
  ScrollReveal().reveal('.zoom', { duration: 1500, easing: 'cubic-bezier(.215, .61, .355, 1)', interval: 200, scale: 0.65, mobile:false });

</script>
<script> (function() {
  var qs,js,q,s,d=document,
  gi=d.getElementById,
  ce=d.createElement,
  gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/";
  if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

</body>
</html>
